<h1>Product</h1>
<div ng-controller="productCtrl as pc">
    <input type="text" placeholder="Search" ng-model="pc.searchByModel" class="form-control">
    <ul uib-pagination total-items="pc.pagination.totalItems" ng-model="pc.pagination.currentPage" ng-change="pc.pageChanged()"></ul>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Index</th>
                <th>Model</th>
                <th>Description</th>
                <th ng-click="pc.sortByPrice()"><a href="">Price</a></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in pc.paginatedProducts|filter:{Model:pc.searchByModel}|orderBy:pc.priceOrder">
                <td>{{$index+1}}</td>
                <td>{{item.Model|lowercase}}</td>
                <td>{{item.Description|uppercase}}</td>
                <td>{{item.Price|currency}}</td>
                <td><button class="btn btn-primary" ng-click="pc.addToCart(item)">Add To Cart</button></td>
            </tr>

        </tbody>
    </table>
</div>