<form class="form-horizontal" name="registerForm" novalidate >
    <input type="text" ng-model="title">
    <div class="form-group">
        <label class="control-label col-sm-2" for="email">First Name:</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="firstname" ng-required="true" placeholder="Enter First Name" ng-model="rc.user.firstName">
            <p ng-if="registerForm.firstname.$error.required && registerForm.firstname.$dirty
            ">First Name required.</p>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="email">Last Name:</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="Enter Last Name">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="email">Email:</label>
        <div class="col-sm-4">
            <input type="text" name="email" class="form-control" ng-model="rc.user.email" ng-pattern="/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" placeholder="Enter email">
        </div>
        <p ng-if="registerForm.email.$error.pattern">Invalid pattern for email</p>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="email">DOB:</label>
        <div class="col-sm-4">
            <input type="text" cgi-date-picker class="form-control" ng-model="rc.user.DOB" placeholder="Enter Date of Birth">
        </div>
        <p ng-if="registerForm.email.$error.pattern">Invalid pattern for email</p>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="pwd">Password:</label>
        <div class="col-sm-4">
            <input type="password" class="form-control" placeholder="Enter password">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="pwd">Phone:</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" maxlength="10" placeholder="Enter Phone" cgi-numbers-only>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="email">Gender:</label>
        <div class="col-sm-4">
            <input type="radio" value="M">M
            <input type="radio" value="F">F
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="pwd">Country:</label>
        <div class="col-sm-4">
            <select class="form-control" ng-model="rc.user.country" ng-options="country.name for country in rc.countries"></select>
        </div>
    </div>



    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-4">
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Remember me</label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-4">
            <button class="btn btn-default" cgi-click="rc.register()">Submit</button>
        </div>
    </div>

    {{rc.user}}
</form>